<html>
  <head>
    <title>test</title>
  </head>
  <body>
    {% set title = "ExamplePage" %}
    <div>
      <h1>
        {{ title }}
      </h1>
      {% set users = [
        {
          "name": "alice",
          "email": "a@example.com"
        },
        {
          "name": "bob",
          "email": "b@example.com"
        },
        {
          "name": "charlie",
          "email": "c@example.com"
        }
      ] %}
      {% if users %}
        <ul>
            {% for user in users %}
              <li>
                <span>Name:</span>{{ user.name }} <span>Email:</span> {{ user.email }}
              </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% set none_value = none %}
      <div>
        Check none:{{ none_value }}
      </div>
      {% set items = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %}
      <table>
        <thead>
          <tr>
            <th>
              #
            </th>
            <th>
              Square
            </th>
            <th>
              Even/Odd
            </th>
          </tr>
        </thead>
        <tbody>
          {% for i in items %}
            <tr>
              <td>
                {{ i }}
              </td>
              <td>
                {{ i*i }}
              </td>
              <td>
                {% if i%2==0 %}
                  Even
                {% else %}
                  Odd
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <hr>
      {% for i in range(100) %}
        <div id="r{{ i }}">
          Row {{ i }}:
          {% if i%5==0 %}
            Multiple of 5
          {% elif i%2==0 %}
            Even
          {% else %}
            Odd
          {% endif %}
          -
          {% if i>50 %}
            Over50
          {% else %}
            Under50
          {% endif %}
        </div>
      {% endfor %}
      <!--Mix of logic and rendering-->
      {% set matrix = [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8], [0, 3, 6, 9, 12], [0, 4, 8, 12, 16]] %}
      <table>
        {% for row in matrix %}
          <tr>
            {% for cell in row %}
              <td>
                {{ cell }}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
      {% set test_value = none %}
      <div>
        {{'None found'if test_value==noneelse'test_value set'}}
      </div>
      {% macro render_link(url,name) %}
        <a href="{{ url }}">{{ name }}</a>
      {% endmacro %}
      <div>
        {{ render_link('https://example.com', 'Example') }}
      </div>
    </div>
  </body>
</html>
